---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLSH_ACCESS_KEY>&query=Denver%20City%20Landscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"id":"fiN8Ab3iI8g","created_at":"2017-10-03T18:48:11-04:00","updated_at":"2019-10-02T13:06:57-04:00","promoted_at":"2017-10-05T10:43:23-04:00","width":4050,"height":5011,"color":"#E2E6E7","description":null,"alt_description":"birds
        eye view photo of buildings","urls":{"raw":"https://images.unsplash.com/photo-1507070854892-f73ad4e78d11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjk5NjM1fQ","full":"https://images.unsplash.com/photo-1507070854892-f73ad4e78d11?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjk5NjM1fQ","regular":"https://images.unsplash.com/photo-1507070854892-f73ad4e78d11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjk5NjM1fQ","small":"https://images.unsplash.com/photo-1507070854892-f73ad4e78d11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjk5NjM1fQ","thumb":"https://images.unsplash.com/photo-1507070854892-f73ad4e78d11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjk5NjM1fQ"},"links":{"self":"https://api.unsplash.com/photos/fiN8Ab3iI8g","html":"https://unsplash.com/photos/fiN8Ab3iI8g","download":"https://unsplash.com/photos/fiN8Ab3iI8g/download","download_location":"https://api.unsplash.com/photos/fiN8Ab3iI8g/download"},"categories":[],"likes":24,"liked_by_user":false,"current_user_collections":[],"user":{"id":"IZxXqWvlV7Y","updated_at":"2019-09-25T13:16:27-04:00","username":"xdesro","name":"Henry
        Desro","first_name":"Henry","last_name":"Desro","twitter_username":"xdesro","portfolio_url":null,"bio":null,"location":"Denver","links":{"self":"https://api.unsplash.com/users/xdesro","html":"https://unsplash.com/@xdesro","photos":"https://api.unsplash.com/users/xdesro/photos","likes":"https://api.unsplash.com/users/xdesro/likes","portfolio":"https://api.unsplash.com/users/xdesro/portfolio","following":"https://api.unsplash.com/users/xdesro/following","followers":"https://api.unsplash.com/users/xdesro/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"xdesro","total_collections":0,"total_likes":2,"total_photos":30,"accepted_tos":true},"exif":{"make":"DJI","model":"FC330","exposure_time":"1/100","aperture":"2.8","focal_length":"3.6","iso":105},"location":{"title":"Central,
        Denver, Colorado, United States","name":"Central, Denver, Colorado, United
        States","city":"Denver","country":"United States","position":{"latitude":39.74972167,"longitude":-104.99333333}},"views":279012,"downloads":904}'
  recorded_at: Mon, 04 Nov 2019 22:12:11 GMT
recorded_with: VCR 5.0.0
